.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 64px;
}

.sidenav li, #note-list-title{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav li:hover, .statusBarComponent:hover {
    color: #f1f1f1;
}


#main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

li.current-note {
  background: #444;
}

*:focus {
    outline: none;
}

textarea, input {
  border:  1px dotted #111;
  resize:none;
  background-color: #FFF;
}

#status-and-action-bar{
  text-align: right;
}

span.statusBarComponent{
  padding: 5px 2px;
}

.add-new-btn {
}
textarea#note-text {
  width:100%;
  height: 80vh; 
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
}

input#note-title {
  width:100%; 
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}